.add__container {
  position: absolute;
  background-color: white;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 70vw;
  height: 90vh;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 3px 3px 20px 2px rgb(70 70 70 / 86%);
}

.add__container > .leaflet-container {
  width: 90%;
  height: 100%;
  margin: 12px auto;
  z-index: -1;
}
.add__container > * {
  margin: 5px;
}
.add__name > *,
.add__country > *,
.add__dates > * {
  width: 100%;
}
#date-picker1,
#date-picker2 {
  height: 25px;
  cursor: pointer;
  border: 1px solid #303f9f;
  font-size: 1rem;
}
.add__season > h4 {
}
.add__container > * > .MuiFormLabel-root {
  color: black !important;
  font-weight: 600 !important;
}
.add__buttons > * {
  margin: 5px !important;
}
