.dashboard {
  position: relative;
}
#dashboard__account {
  font-size: 40px;
  color: #3f51b5;
}
#dashboard__logout {
  color: red;
}
.dashboard__bar {
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  display: flex;
}
.dashboard__logo {
  font-size: 35px;
  margin: 10px;
  font-family: Caveat;
}
