.map {
  position: relative;
  margin: 20px;
}
.map > .leaflet-container {
  height: 90vh;
}
#map__filterButton {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  font-weight: 700;
  background-color: white;
  margin: 5px;
}
#filter-icon {
  height: 1.5rem;
}
#filter-popover > .MuiPaper-root {
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 300px;
}
#filter-popover > .MuiPaper-root > * {
  padding: 8px;
}
.filter__button-group > * {
  margin: 5px !important;
}
#map__goDown {
  background-color: #3f51b5 !important;
  color: white !important;
  border-radius: 20%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1000;
  margin: 10px;
}
