.table__container {
  height: 75vh;
  margin: 20px;
}
#table__goUp {
  background-color: #3f51b5 !important;
  color: white !important;
  border-radius: 20%;
  margin: 10px;
  display: flex;
  margin-left: auto;
}

#table__datagrid {
  color: rgb(0, 0, 0) !important;
  height: 600px;
}
.table__container > * {
  margin: 10px;
}
